<section class="big-user-content-area d-flex justify-content-between">
  <div class="<%= color %>-background col-6 p-0 d-flex flex-column justify-content-center">
    <%= image_tag @user.photo, width: '100%' %>
  </div>
  <div class="col-6 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center w-50 m-auto">
      <div class="d-flex flex-column align-items-center">
        <p class="full-name mb-0"><%= @user.full_name %></p> 
        <p class="occupations"><%= @user.occupations_text %></p>
      </div>
      <a href=<%= @user.website %> target="_blank" class="btn py-3 next-step-button reason-button <%= color %>">
        <%= @user.reason %>
      </a>
      <p class="summary mt-5"><%= @user.summary %></p>
    </div>
  </div>
</section>
