<div class="background <%= color %>-background d-flex justify-content-center align-items-center">
  <section class="medium-user-content-area">
    <div class="w-100 m-auto d-flex flex-column align-items-center">
      <%= image_tag @user.photo, width: '100%' %>
      <div class="basic-info d-flex flex-column align-items-center">
        <p class="full-name mb-0"><%= @user.full_name %></p> 
        <p class="occupations"><%= @user.occupations_text %></p>
      </div>
    </div>
    <div class="user-info w-100 py-3">
      <div class="d-flex flex-column align-items-center w-75 m-auto">
        <a href=<%= @user.website %> target="_blank" class="btn py-3 next-step-button reason-button <%= color %>">
          <%= @user.reason %>
        </a>
        <p class="summary mt-5"><%= @user.summary %></p>
      </div>
    </div>
  </section>
</div>
