<div class="background <%= color %>-background d-flex justify-content-center align-items-center">
  <section class="small-user-content-area">
    <div class="content d-flex flex-column align-items-center w-75 m-auto">
      <%= image_tag @user.photo, class: 'photo' %>
      <p class="full-name mb-0"><%= @user.full_name %></p>
      <p class="occupations"><%= @user.occupations_text %></p>
      <a href=<%= @user.website %> target="_blank" class="btn py-3 next-step-button reason-button <%= color %>">
        <%= @user.reason %>
      </a>
      <p class="summary mt-5"><%= @user.summary %></p>
    </div>
  </section>
</div>
