<div class="margin d-flex flex-column">
  <%= render 'features' %>
  <a class="examples-link mx-auto my-5" href="#">See examples →</a>
  <div class="gradient-scope">
    <div class="example-pages d-flex justify-content-center">
      <div class="mobile">
        <div>
          <%= image_tag 'example_pages.jpg', size: '275x325' %>
        </div>
        <div class="mobile-people-info d-flex flex-column">
          <div class="m-2">
            <p class="name"><strong>SOFIA MARKS</strong></p>
            <p class="profession"><strong>Stylist and Photographer in Los Angeles</strong></p>
            <button class="example-pages-button btn my-3 w-100" disabled>Hire me</button>
            <p class="description-text">Hi, i'm a fashion stylist and photographer helping fashion, editorial, food, and tech brands come to life. I've worked with a
            wide variety of clients such as AirBnB, Lyft, Mission Workshop, Snapshat, Timbuk2, and Verve Coffe Roasters.</p>
            <div class="d-flex mt-4">
              <div class="mr-4">
                <h3 class="example-pages-label">WORK</h3>
                <p>Marks & Co. Styling</p>
              </div>
              <div>
                <h3 class="example-pages-label">EDUCATION</h3>
                <p>University of California LA</p>
              </div>
            </div>
            <div class="mt-2">
              <%= image_tag 'twitter_icon_gray.svg', size: '20x20', class: 'mr-2' %>
              <%= image_tag 'instagram_icon_gray.svg', size: '20x20', class: 'mr-2' %>
              <%= image_tag 'facebook_icon_gray.svg', size: '20x20' %>
            </div>
          </div>
        </div>
      </div>
      <div class="desktop d-flex">
        <div>
          <%= image_tag 'example_pages.jpg', size: '475x550', class: 'desk-image' %>
        </div>
        <div class="desk-people-info d-flex flex-column justify-content-center">
          <div class="mx-4">
            <p class="name"><strong>SOFIA MARKS</strong></p>
            <p><strong>Stylist and Photographer in Los Angeles</strong></p>
            <button class="example-pages-button btn my-3 w-100" disabled>Hire me</button>
            <p class="description-text">Hi, i'm a fashion stylist and photographer helping fashion, editorial, food, and tech brands come to life. I've worked with a
            wide variety of clients such as AirBnB, Lyft, Mission Workshop, Snapshat, Timbuk2, and Verve Coffe Roasters.</p>
            <div class="d-flex mt-4">
              <div class="mr-4">
                <h3 class="example-pages-label">WORK</h3>
                <p>Marks & Co. Styling</p>
              </div>
              <div>
                <h3 class="example-pages-label">EDUCATION</h3>
                <p>University of California LA</p>
              </div>
            </div>
            <div class="mt-2">
              <%= image_tag 'twitter_icon_gray.svg', size: '20x20', class: 'mr-2' %>
              <%= image_tag 'instagram_icon_gray.svg', size: '20x20', class: 'mr-2' %>
              <%= image_tag 'facebook_icon_gray.svg', size: '20x20' %>
            </div>
          <div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-register d-flex flex-column">
  <h2>Over 1 million entrepreneurs and consultants use my.homepage.</h2>
  <h2>Need help growing your business?</h2>
  <div class="mx-auto mt-4">
    <%= link_to('Get your free page', signup_path, class: 'btn big-register-button w-100') %>
  </div>
  <div class="social-media-create-account d-flex justify-content-between my-3 mx-auto">
    <button class="btn d-flex justify-content-between align-items-center col mr-2">
      <%= image_tag 'facebook-logo.svg', size: '25x25' %>
      <p class="mb-0">Facebook</p>
    </button>
    <button class="btn d-flex justify-content-between align-items-center col ml-2">
      <%= image_tag 'google-logo.svg', size: '23x23' %>
      <p class="mb-0">Google</p>
    </button>
  </div>
</div>
